.hero {
  background-color: aqua;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.nav-logo {
  display: flex;
}